@model UserRoleVM

<div class="container">
    <form method="post">
        <input type="hidden" value="@Model.User.Id">
        <div class="form-group">
            <select name="role" class="form-control" id="">
                @foreach (var role in Model.Roles)
                {
                    <option value="@role">@role</option>
                }
            </select>
            <input type="submit" class="btn btn-primary w-100" value="submit">
        </div>
    </form>

</div>