@model Contact
<div class="container">
    <div class="row">
        <div class="col-lg-8 m-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Are you sure</h5>
                    <p>@Model.Subject is deleted.</p>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <form method="post">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <input type="submit" value="Delete" class="btn btn-outline-danger" />
                        </form>
                        <a class="btn btn-outline-info" href="/admin/Contact">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>