@model Tag
<div class="col-lg-6 m-auto">
    <div class="card shadow p-3 mb-4">
        <form method="post">
            <div class="form-group">
                <label for="category"><b> @Model.TagName </b> Silinsin? </label>
            </div>
            <div class="form-group d-flex">
                <input class="btn btn-danger btn-sm w-50" type="submit" value="Delete" />
                <a href="/admin/Tag/index" class="btn btn-warning btn-sm w-50">Geri </a>
            </div>
        </form>
    </div>
</div>