@model Microsoft.AspNetCore.Identity.IdentityRole
 @if (@ViewBag.RoleExist != null)
{
    <div class="col-lg-6 m-auto mb-5">
        <div class="alert alert-danger shadow" role="alert">
            @ViewBag.RoleExist
        </div>
    </div>
}  
<div class="col-lg-6 m-auto">
    <div class="card shadow p-3 mb-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Role name</label>
                <input  class="form-control" type="text" asp-for="Name"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-outline-success btn-sm" type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>